
# Lab 01
# Jawad Hassan
# 2230-0035
# 25 Sep 2025
## Table of Contents:
* Introduction
* Variables and Data Types
* Reserved Words
* Assignment Operator
* Type Command
* Arithmetic Operators
* Comparison Operators
* Strings
* String Functions
* 1D Lists
* List Functions
* Exercises

## Introduction
In this lab, you'll learn about essential concepts like variables, operators, strings, and lists in Python. These fundamental concepts form the building blocks of programming and are crucial to understanding more complex topics.

## Variables and Data Types
* int: Integer numbers
* float: Floating-point numbers
* str: Strings (text)
* bool: Boolean values (True or False)

In [25]:
data="this is my data"
id_no=234
present=True
percentage=68.78

print(data, id_no, present, percentage)

this is my data 234 True 68.78

## Reserved Words
Reserved words are words that have special meanings in Python and cannot be used as variable names. Examples include if, else, while, for, and more.

## Assignment Operator
The assignment operator (=) is used to assign a value to a variable.

## Type Command
The type() function is used to determine the data type of a variable.

In [26]:
x=type(data)
print(x)

<class 'str'>

## Arithmetic Operators
Arithmetic operators perform mathematical operations:

* +, -, *, /: Addition, subtraction, multiplication, division
* %: Modulus (remainder)
* **: Power
* //: Floor division (division with the result rounded down)

In [27]:
x=56
y=78
sum1=x+y
exp=23 ** 4
fd=y//x

print(sum1, exp,fd)

134 279841 1

## Comparison Operators
Comparison operators are used to compare values:

* ==: Equal to
* !=: Not equal to
* <, >, <=, >=: Less than, greater than, less than or equal to, greater than or equal to

## Strings
Strings are sequences of characters enclosed in single (' ') or double (" ") quotes.

String Functions:

* len(): Returns the length of a string.
* replace(): Replaces a substring with another substring.
* Indexing: Access individual characters using index values.
* Slicing: Extract a substring using slicing notation, e.g., [start:end].

In [28]:
name="Sohail"
name=name.replace('h','H')

print(name)
print(len(name))
print(name[2:])
print(name[4])

SoHail
6
Hail
i

## 1D Lists
Lists are ordered collections of items. Lists can contain elements of different types.

List Functions:

* range(): Generates a sequence of numbers.
* append(): Adds an item to the end of the list.
* insert(): Inserts an item at a specific index.
* Indexing: Access individual items using index values.
* Slicing: Extract a sublist using slicing notation, e.g., [start:end].

In [29]:
lst=[]
numbers = list(range(1, 6))
print(numbers)
lst=[23,"data",True]
print(lst)
lst.insert(2,False)
print(lst)
lst.append("minimum")
print(lst)
print(lst[:3])

[1, 2, 3, 4, 5]
[23, 'data', True]
[23, 'data', False, True]
[23, 'data', False, True, 'minimum']
[23, 'data', False]

# Exercises

We are creating a database where we are going to store following items

## Product Sales

* product_id
* product_name
* unit_price (list i.e. 5000 for non members, 4000 for members, 3000 for VIPs)
* quantity_sold
* total_revenue

Your job is to identify the data-type to be used for each of above values. Also create an example for one record using variables and values of appropriate data-types. Print Values

In [30]:
product_id = 1
product_name = 'chips'
unit_price = [5000, 4000, 3000]
quantity_sold = 35
total_revenue = 15000

print(f'Product ID:', product_id)
print(type(product_id))

print(f'Product name:', product_name)
print(type(product_name))

print(f'Unit Price:', unit_price)
print(type(unit_price))

print(f'Quantity Sold:',quantity_sold)
print(type(quantity_sold))

print(f'Total Revenue:',total_revenue)
print(type(total_revenue))

sales= [product_id, product_name, unit_price, quantity_sold, total_revenue]
print("sales:",sales)

Product ID: 1
<class 'int'>
Product name: chips
<class 'str'>
Unit Price: [5000, 4000, 3000]
<class 'list'>
Quantity Sold: 35
<class 'int'>
Total Revenue: 15000
<class 'int'>
sales: [1, 'chips', [5000, 4000, 3000], 35, 15000]

Do same as above for following:

## Customer Orders

* order_id
* customer_name
* order_items
* discount (list i.e. 5% for non members, 10% for members, 15% for VIPs)
* order_total
* order_date

## Temperature Monitoring

* sensor_id
* location
* temperature_readings (list)
* average_temperature
* timestamp

In [31]:
# Customer Orders:
print("Customer Orders:")
order_id=1
customer_name='ali'
order_items=5
discount = [5, 10, 15]
order_total=5000
order_date='12/11/25'
print("order id:",order_id)
print(type(order_id))
print("customer name:",customer_name)
print(type(customer_name))
print("order_items:",order_items)
print(type(order_items))
print("discount:",discount)
print(type(discount))
print("order_total:",order_total)
print(type(order_total))
print("order_date:",order_date)
print(type(order_date))
order_sales=[order_id,customer_name,order_items,discount,order_total,order_date]
print("order_sales:",order_sales)

#Temperature Monitoring
print("Temperature Monitoring:")
sensor_id=2
location='islamabad'
temperature_readings =list(range(1,6))
average_temperature=10.4
timestamp='1/2/2022'

print("sensor id:",sensor_id)
print(type(sensor_id))
print("location:",location)
print(type(location))
print("temperature_readings:",temperature_readings)
print(type(temperature_readings))
print("average_temperature:",average_temperature)
print(type(average_temperature))
print("timestamp:",timestamp)
print(type(timestamp))

Customer Orders:
order id: 1
<class 'int'>
customer name: ali
<class 'str'>
order_items: 5
<class 'int'>
discount: [5, 10, 15]
<class 'list'>
order_total: 5000
<class 'int'>
order_date: 12/11/25
<class 'str'>
order_sales: [1, 'ali', 5, [5, 10, 15], 5000, '12/11/25']
Temperature Monitoring:
sensor id: 2
<class 'int'>
location: islamabad
<class 'str'>
temperature_readings: [1, 2, 3, 4, 5]
<class 'list'>
average_temperature: 10.4
<class 'float'>
timestamp: 1/2/2022
<class 'str'>

Use assignment Operator to assign new values to one of the above scenerios and print again

In [32]:
total_revenue = 35000
product_id = 90
product_name = 'book'
unit_price = [7000, 2000, 9000]
quantity_sold = 87
print("changed values:")
print(f'Product ID:', product_id)
print(type(product_id))

print(f'Product name:', product_name)
print(type(product_name))

print(f'Unit Price:', unit_price)
print(type(unit_price))

print(f'Quantity Sold:',quantity_sold)
print(type(quantity_sold))

print(f'Total Revenue:',total_revenue)
print(type(total_revenue))

changed values:
Product ID: 90
<class 'int'>
Product name: book
<class 'str'>
Unit Price: [7000, 2000, 9000]
<class 'list'>
Quantity Sold: 87
<class 'int'>
Total Revenue: 35000
<class 'int'>

Use arithmatic operators in all of above examples where a list of numbers is used to compute average values (do not use loops)

In [33]:
#avg = sum([5000+4000+3000])/len(unit_price)
avg = sum(unit_price)/len(unit_price)
print('avg of product:',avg)

avgcustomerdiscount=sum(discount)/len(discount)
print('avg of customer discount:',avgcustomerdiscount)

avgtemperature_readings=sum(temperature_readings)/len(temperature_readings)
print('avg of temperature readings:',avgtemperature_readings)

avg of product: 6000.0
avg of customer discount: 10.0
avg of temperature readings: 3.0

use ** operator on lists in all above examples (if list is storing numbers)

In [40]:
power = sum([5000+4000+3000])**len(unit_price)
print(power)

pwrprd = sum(unit_price)**len(unit_price)
print('power of product:',pwrprd)

pwrcust=sum(discount)**len(discount)
print('power of customer discount:',pwrcust)

pwrtmp=sum(temperature_readings)**len(temperature_readings)
print('power of temperature readings:',pwrtmp)

1728000000000
power of product: 5832000000000
power of customer discount: 27000
power of temperature readings: 759375

use // operator on at least one examples from each of above scenerios

In [41]:
divide = sum([5000+4000+3000])//len(unit_price)
print(divide)

divcust=sum(discount)//len(discount)
print('division of customer discount:',divcust)

4000
division of customer discount: 10

## Announcement Preview
You're developing an announcement preview tool for a messaging platform. The tool needs to provide a concise preview of longer messages.

### Task:
Given a message: "Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)", perform the following tasks:

* Calculate the length of the message.
* Replace the word "webinar" with "online session".
* Extract the date "Aug 30, 2023".
* Create a shortened preview containing only the first 40 characters.
* Extract time.

Print all the results

In [51]:
# YOUR CODE HERE
announce="Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)"
print(len(announce))
announce.replace("webinar","online session")
extracted=announce[27:39]
print("extracted:",extracted)
short=announce[:40]
print("short:",short)
time=announce[40:]
print("time:",time)

54
extracted: Aug 30, 2023
short: Join us for the webinar on Aug 30, 2023,
time:  2:00 PM (GMT)

## Fitness Progress Tracker
You're developing a fitness progress tracker that records different exercises performed each day.

### Task:
Given exercise logs: ['Running', 'Push-ups', 'Yoga', 'Swimming'], perform the following tasks:

* Create an empty log for cardio exercises.
* Append 'Cycling' to the cardio log.
* Insert 'Plank' as the second exercise in the log.
* Extract the exercise 'Yoga' from the list.
* Create a brief cardio log containing only the first two exercises.
* Extract all items from list
* Extract  all items except first and last from list

Print all the results.

In [77]:
# YOUR CODE HERE
cardiolog=[]
exercise_logs= ['Running', 'Push-ups', 'Yoga', 'Swimming']
cardiolog.append('Cycling')
exercise_logs.insert(1,'Plank')
print(exercise_logs)
extractcardio=exercise_logs.pop(3)
print(extractcardio)
cardiolog.append(exercise_logs[1])
print(cardiolog)
cardiolog.clear()
print(cardiolog)
exercise_logs=[exercise_logs[0],exercise_logs[-1]]
print(exercise_logs)
type(exercise_logs)

['Running', 'Plank', 'Push-ups', 'Yoga', 'Swimming']
Yoga
['Cycling', 'Plank']
[]
['Running', 'Swimming']

list

## Bookshelf Organizer
You're working on a bookshelf organizer for a library app.

### Task:
Given a list of book titles: ['Book A', 'Book B', 'Book C', 'Book D'], perform the following tasks:

* Create an empty list for recommended books.
* Append 'Recommended Book' to the recommended books list.
* Insert 'Bestseller' as the second book in the list.
* Extract the last book from the list.
* Create a concise book list containing only the first three books.
* Insert "Thore" as last item in list

Print all the results.

In [87]:
# YOUR CODE HERE
book_titles= ['Book A', 'Book B', 'Book C', 'Book D']
recommendedbookslist=[]
recommendedbookslist.append('Recommended books')
recommendedbookslist.append('best seller')
print(recommendedbookslist)
recommendedbookslist.pop()
print(recommendedbookslist)
book_titles=book_titles[0:3]
print(book_titles)
book_titles.append('thore')
print(book_titles)

['Recommended books', 'best seller']
['Recommended books']
['Book A', 'Book B', 'Book C']
['Book A', 'Book B', 'Book C', 'thore']

## Coulomb's Law Calculator
You're developing a calculator to apply Coulomb's law for electrostatic interactions.

### Scenario:
As a user, you'll input the charges (q1 and q2) of two objects and the distance (r) between them. The calculator will determine the electrostatic force (F) between the objects.

#### Task:
* Enter the charges of the two objects (q1 and q2) and the distance (r).
* Calculate the electrostatic force (F) using Coulomb's law: F = k * q1 * q2 / r^2, where k is the electrostatic constant.

In [89]:
#YOUR CODE HERE
q1=int(input('q1='))
q2=int(input('q2='))
r=int(input('r='))
k=2
f=(k*q1*q2)/(r**2)
print("F of coulumb charge is:=",f)

q1= 2
q2= 4
r= 2

F of coulumb charge is:= 4.0

<center><h2 style="font-family: 'Vladimir Script', serif;">Happy Coding</h2></center>