# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Ms. Salma Asif
#Assigment: 1

In [71]:
#Question 4:
#1
print("I","am","Jawad","Hassan")
print("My","Roll","NUmber","is","2230-0035")
print("My","degree","is","BS(AI)")
print("Smile","its","Sunnah")

#2
s1='_________'
s2='/'
s3="\\"
s4='|'
s5='O'
s6='^'
print(s1.center(20,' '))
print(s2.rjust(5,' '),s3.rjust(9,' '))
print(s4.rjust(5,' '),s5.center(3,' '),s5.center(3,' '),s4.rjust(0,' '))
print(s4.rjust(5,' '),s6.center(7,' '),s4.rjust(0,' '))
print(s4.rjust(5,' ')+s3.rjust(2,' ')+'{}'.format('_____')+f'{s2}'+s4.rjust(2,' '))
print(s3.rjust(5,' ')+s1.center(0,'-')+s2.ljust(0,' '))

I am Jawad Hassan
My Roll NUmber is 2230-0035
My degree is BS(AI)
Smile its Sunnah
     _________
    /         \
    |  O   O  |
    |    ^    |
    | \_____/ |
    \_________/

In [101]:
#Question 5:
studsys=[
          {
          'roll':1,
          'name':'jawad',
          'courses':('AI','ML','CV'),
          'marks':{'AI':100,'ML':90,'CV':70}
          },
          {
           'roll':2,
          'name':'ali',
          'courses':('AI','ML','CV'),
          'marks':{'AI':90,'ML':91,'CV':100}
          },
         {
           'roll':3,
          'name':'faraz',
          'courses':('AI','ML','CV'),
          'marks':{'AI':88,'ML':96,'CV':72}
          },
         {
           'roll':4,
          'name':'sohail',
          'courses':('AI','ML','CV'),
          'marks':{'AI':97,'ML':90,'CV':70}
          },
          {
           'roll':5,
          'name':'shan',
          'courses':('AI','ML','CV'),
          'marks':{'AI':60,'ML':70,'CV':80}
          }
         ]
#tasks:
#a)
print('student name:{}'.format(studsys[1]['name']),',roll number:{}'.format(studsys[1]['roll']),'has hight marks in all courses.')
#b)
aicourse=[studsys[0]['marks']['AI'],studsys[1]['marks']['AI'],studsys[2]['marks']['AI'],studsys[3]['marks']['AI'],studsys[4]['marks']['AI']]
mlcourse=[studsys[0]['marks']['ML'],studsys[1]['marks']['ML'],studsys[2]['marks']['ML'],studsys[3]['marks']['ML'],studsys[4]['marks']['ML']]
cvcourse=[studsys[0]['marks']['CV'],studsys[1]['marks']['CV'],studsys[2]['marks']['CV'],studsys[3]['marks']['CV'],studsys[4]['marks']['CV']]
print('AI course topper details:',studsys[aicourse.index(max(aicourse))])
print('ML course topper details:',studsys[mlcourse.index(max(mlcourse))])
print('CV course topper details:',studsys[cvcourse.index(max(cvcourse))])
#c
if studsys[4]['marks']['AI']<80:
  studsys[4]['marks']['AI']+=5
if studsys[4]['marks']['ML']<80:
  studsys[4]['marks']['ML']+=5
if studsys[4]['marks']['CV']<80:
  studsys[4]['marks']['CV']+=5
#d
course=set()
for student in studsys:
  course.update(student['courses'])
print('unique courses:',list(course))
#e
if (studsys[0]['courses'])==(studsys[1]['courses']):
  print('students have same courses offered:',studsys[0]['name'],",",studsys[1]['name'])
if (studsys[3]['courses'])==(studsys[4]['courses']):
   print('students have same courses offered:',studsys[3]['name'],",",studsys[4]['name'])
#f
for student in studsys:
  if student['roll']==3:
    studsys.remove(student)
print('updated list:',studsys)

student name:ali ,roll number:2 has hight marks in all courses.
AI course topper details: {'roll': 1, 'name': 'jawad', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 100, 'ML': 90, 'CV': 70}}
ML course topper details: {'roll': 3, 'name': 'faraz', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 88, 'ML': 96, 'CV': 72}}
CV course topper details: {'roll': 2, 'name': 'ali', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 90, 'ML': 91, 'CV': 100}}
unique courses: ['AI', 'CV', 'ML']
students have same courses offered: jawad , ali
students have same courses offered: sohail , shan
updated list: [{'roll': 1, 'name': 'jawad', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 100, 'ML': 90, 'CV': 70}}, {'roll': 2, 'name': 'ali', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 90, 'ML': 91, 'CV': 100}}, {'roll': 4, 'name': 'sohail', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 97, 'ML': 90, 'CV': 70}}, {'roll': 5, 'name': 'shan', 'courses': ('AI', 'ML', 'CV'), 'marks': {'AI': 65, 'ML': 75, 'CV': 80}}]