# Assignment 2

- Jawad Hassan
- 2230-0035
- BS-AI

## Question 1

In [16]:
def palin(st):
  stt = ""
  for ch in st:
        if ch.isalpha():     # allow only letters
            stt += ch.lower()
  if len(stt)<=1:
    return True
  if stt[0]!=stt[-1]:
    print('not palindrome')
    return False
  return palin(stt[1:-1])

print(palin('mada 55m'))

True

## Question 2

In [17]:
lst = [1, [2, [3, 4], 5], 6]
def sum_nested_list(a):
    total = 0
    for x in a:
        if isinstance(x, list):      # if element is a list â†’ recurse
            total += sum_nested_list(x)
        else:
            total += x               # normal number
    return total

sum_nested_list(lst)

21

## Question 3

In [18]:
names = ['Ali', 'Ahmed', 'Sara', 'Aisha', 'Omar', 'Hassan', 'Zara', 'Bilal', 'Noor', 'Fatima']
with open('students.txt','w') as f:
  for i in range(10):
   line=names[i]+', ' + str(19+i) + ', ' + str(77+i) + "\n"
   f.write(line)
dic={}
with open('students.txt','r') as f:
  for i in f:
    i=i.strip()
    name,age,grade=[x.strip() for x in i.split(',')]
    if int(grade)>=80:
      print(name,' is Above Average')
    else:
      print(name,' is below Average')
    dic[name]=(age,grade)

print(dic)
import json
with open('result.txt','w') as f:
  json.dump(dic,f)

Ali  is below Average
Ahmed  is below Average
Sara  is below Average
Aisha  is Above Average
Omar  is Above Average
Hassan  is Above Average
Zara  is Above Average
Bilal  is Above Average
Noor  is Above Average
Fatima  is Above Average
{'Ali': ('19', '77'), 'Ahmed': ('20', '78'), 'Sara': ('21', '79'), 'Aisha': ('22', '80'), 'Omar': ('23', '81'), 'Hassan': ('24', '82'), 'Zara': ('25', '83'), 'Bilal': ('26', '84'), 'Noor': ('27', '85'), 'Fatima': ('28', '86')}

## Question 4

In [20]:
def process_numbers(nums):
  a=set()
  for n in nums:
    if n not in a:
      a.add(n)
  print(a)
  a=list(a)
  a.sort()
  mx=max(a)
  mn=min(a)
  s=sum(a)
  avg =sum(a)/len(a)
  aa=(mx,mn,s,avg)
  return aa
def main():
  nums=[]
  for i in range(15):
   nums.append(int(input('enter 15 numbers:')))
  tup= process_numbers(nums)
  print(tup)
main()

enter 15 numbers:1
enter 15 numbers:2
enter 15 numbers:3
enter 15 numbers:4
enter 15 numbers:2
enter 15 numbers:3
enter 15 numbers:4
enter 15 numbers:5
enter 15 numbers:6
enter 15 numbers:7
enter 15 numbers:6
enter 15 numbers:7
enter 15 numbers:8
enter 15 numbers:9
enter 15 numbers:10
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
(10, 1, 55, 5.5)

## Question 5

In [23]:
import string
with open("data.txt",'w') as f:
    f.write("""Python is a popular programming language! PYTHON is easy to learn, and powerful.
Python can be used for web development; data analysis, Artificial Intelligence, and more...
Learning Python helps you automate tasks, solve problems efficiently.
Python, python; PYTHON?""")
with open("data.txt",'r') as f:
  text=f.read()
text=text.lower()
text = text.translate(str.maketrans("", "", string.punctuation))
words = text.split()
wordc={}
for word in words:
  if word in wordc:
    wordc[word]+=1
  else:
    wordc[word]=1
print(wordc)
top_5 = sorted(wordc.items(), key=lambda x: x[1], reverse=True)[:5]
# Step 6: Print top 5 words with counts
print("Top 5 most frequent words:")
for word, count in top_5:
    print(word, count)

{'python': 7, 'is': 2, 'a': 1, 'popular': 1, 'programming': 1, 'language': 1, 'easy': 1, 'to': 1, 'learn': 1, 'and': 2, 'powerful': 1, 'can': 1, 'be': 1, 'used': 1, 'for': 1, 'web': 1, 'development': 1, 'data': 1, 'analysis': 1, 'artificial': 1, 'intelligence': 1, 'more': 1, 'learning': 1, 'helps': 1, 'you': 1, 'automate': 1, 'tasks': 1, 'solve': 1, 'problems': 1, 'efficiently': 1}
Top 5 most frequent words:
python 7
is 2
and 2
a 1
popular 1

## Question 6

In [24]:
def count_vowels(s):
  s=s.lower()
  s=''.join(s.split())
  if len(s)==0:
    return 0
  if s[-1]in 'aeiou':
   return 1+count_vowels(s[0:-1])
  else:
   return count_vowels(s[0:-1])


s='it consist of vowels'
print(count_vowels(s))

6

## Question 7

In [34]:
s=[]
sum=0
n=0
while True:
  s.append(input('enter number'))
  if 'stop' in s:
    break
  if int(s[-1])%2==0:
   sum+=int(s[-1])
   n+=1

print(s)
if n==0:
  print('no even numb')
else:
 print(sum/n)

enter number1
enter number3
enter number5
enter number7
enter numberstop
['1', '3', '5', '7', 'stop']
no even numb

## Question 8

In [35]:
lststr=['hi this iss even','this is odd','u tell thiss']
evenstr=[]
for i in lststr:
  if len(i)%2==0:
    evenstr.append(i)
evenstr=tuple(evenstr)
print(evenstr)

('hi this iss even', 'u tell thiss')

## Question 9

In [41]:
dic={'Ali': 85,  'Sara': 92, 'Bilal': 45}
newdic={}
for key,value in dic.items():
  if value>=90:
    newdic[key]='pass w distinction'
  elif value>=80:
    newdic[key]='pass'
  else:
    newdic[key]='fail'
print(newdic)
# Count students in each category
category_count = {}
for status in newdic.values():
    if status in category_count:
        category_count[status] += 1
    else:
        category_count[status] = 1

print("Student counts in each category:")
for category, count in category_count.items():
    print(f"{category}: {count}")

{'Ali': 'pass', 'Sara': 'pass w distinction', 'Bilal': 'fail'}
Student counts in each category:
pass: 1
pass w distinction: 1
fail: 1

In [ ]:
x=-5
if x<0:
  raise ValueError('neg')

ValueError: neg

In [ ]:
try:
  raise ZeroDivisionError('manual')
except ZeroDivisionError as e:
  print('error',e)

error manual

In [ ]:
class NegNumbError(Exception):
  pass
def sq(n):
  if n<0:
    raise NegNumbError('cannot use neg')
  else:
    return n**2
try:
  print(sq(-5))
  print(sq(5))
except NegNumbError as e:
  print('error',e)

error cannot use neg