# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Ms. Salma
#Lab: 4

In [2]:
#task1
def count_even_odd(numbers):
  even=0
  odd=0
  for i in numbers:
    if i%2==0:
      even+=1
    else:
      odd+=1
  print('even count:',even)
  print('odd count:',odd)
numb=[1,2,3,4,5,6,7,8,9]
count_even_odd(numb)

even count: 4
odd count: 5

In [13]:
#task2
def analyze_string(s):
  vowels=0
  consonants=0
  digits=0
  special=0
  for i in s:
    if i.lower()=='a' or i.lower()=='e' or i.lower()=='i' or i.lower()=='o' or i.lower()=='u':
      vowels+=1
    elif i.isalpha():
      consonants+=1
    elif i.isdigit():
      digits+=1
    else:
      special+=1
  print('vowels:',vowels)
  print('consonants:',consonants)
  print('digits:',digits)
  print('special:',special)
alphas='IAmgrea8_boy*'
analyze_string(alphas)

vowels: 5
consonants: 5
digits: 1
special: 2

In [14]:
from re import I
#task3
def find_max(t):
  max=t[0]
  for i in t:
    if i>max:
      max=i
  return max
tup=(1,2,3,4,5)
print('max:',find_max(tup))

max: 5

In [20]:
#task4
def search_student(record,name):
  rec=False
  for sname,marks in record.items():
    if sname==name:
      print('marks:',marks)
      rec=True
  if rec==False:
    print('record not found')
dic={
    'jawad':88,
    'ali':60,
    'irfan':33,
    'ahmed':40
    }
search_student(dic,'jawad')
search_student(dic,'faraz')

marks: 88
record not found

In [23]:
#task5
def filter_greater_than(lst,threshold):
  thrsh=False
  for i in lst:
    if i>threshold:
      print(i,end=' ')
      thrsh=True
  if thrsh==False:
    print('no numbers greater than threshold')
numbs=[1,2,3,4,5,6,7,8]
filter_greater_than(numbs,4)

5 6 7 8

In [33]:
#task6
def is_palindrome(word):
  if word[::-1]==word:
    print('palindrome:',word)
  else:
    print('not palindrome:',word)
is_palindrome('football')
is_palindrome('level')

not palindrome: football
palindrome: level

In [42]:
#task7
def char_frequency(text):
  freq={}
  for i in text:
    if i not in freq:
      freq[i]=1
    else:
      freq[i]+=1
  print('count of characters:',freq)
char_frequency('hello how are u')

count of characters: {'h': 2, 'e': 2, 'l': 2, 'o': 2, ' ': 3, 'w': 1, 'a': 1, 'r': 1, 'u': 1}

In [48]:
#task8
import custommath as cm
print(cm.factorial(int(input('enter num for factorial:'))))
print(cm.fibonacci(int(input('enter num for fibonacci:'))))
a,b=map(int,input('enter for gcd a and b:').split())
print(cm.gcd (a,b))

enter num for factorial:5
120
enter num for fibonacci:6
8
enter for gcd a and b:6 4
2

In [ ]:
#activityLab
def uniqueval(a):
  unique=[]
  for i in a:
    if i not in unique:
      unique.append(i)
  return unique

listt=[1,2,2,3,4,4,5,6]
a=uniqueval(listt)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
def createdic(n):
  squaredic={}
  for i in range(1,n+1):
    squaredic[i]=i**2

  for i,val in squaredic.items():
    print(i,':',val)
createdic(10)

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

In [ ]:
def prodtuple(t):
  prod=1
  for i in t:
    prod*=i
  print(prod)
prodtuple((1,2,3,4))

24