# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Ms. Salma
#Lab: 5

In [ ]:
#activityLab
def uniqueval(a):
  unique=[]
  for i in a:
    if i not in unique:
      unique.append(i)
  return unique

listt=[1,2,2,3,4,4,5,6]
a=uniqueval(listt)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
def callp(n):
 if n==0:
   return
 print('hello')
 callp(n-1)

callp(5)

hello
hello
hello
hello
hello

In [ ]:
def fact(n):
 if n==0:
   return 1
 return n*fact(n-1)

print(fact(4))

24

In [ ]:
def summ(n):
 if n==0:
   return 0
 return n+summ(n-1)

print(summ(10))

55

In [ ]:
def fib(n):
 if n==0 or n==1:
   return n
 return fib(n-1)+fib(n-2)



for i in range(0,36):
 print(fib(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465

In [ ]:
import time
start_time=time.time()
fib(41)
end_time=time.time()
print(end_time-start_time)

40.881492376327515

In [ ]:
def fibon(n,d):
  if n in d:
    return d[n]
  else:
    d[n]=fibon(n-1,d)+fibon(n-2,d)
    return d[n]
d={0:0,1:1}
fibon(10,d)

55

In [ ]:
def fiboni(n,d):
 if n in d:
  return d[n]
 else:
   d[n]=fiboni(n-1,d)+fibon(n-2,d)
   return d[n]

startt=time.time()
fiboni(41,d)
endt=time.time()
print(endt-startt)
print(d[21])

0.00011110305786132812
10946

In [ ]:
def rev(s):
  if len(s)==0:
   return ""
  else:
   return s[-1]+rev(s[:-1])

rev("hello")

'oolleh'

In [ ]:
def c(n):
  if n==0:
    return 0
  else:
    return 1+c(n//10)
c(32432425)

8

In [ ]:
def pow(base,exp):
  if exp==0:
    return 1



  return base*pow(base,exp-1)


pow(2,5)

32

In [ ]:
def maxl(l):

  if len(l)==1:
    return l[0]
  sub=maxl(l[1:])
  return l[0] if l[0]>sub else sub


maxl([1,2,3,4,5])

5

In [ ]:
def pal(s):
  if len(s)<=1:
    print('palindrome')
    return
  elif s[0]!=s[-1]:
    print('not palindrome')
    return
  pal(s[1:-1])

pal('abba')
pal('madam')

palindrome
palindrome

In [ ]:
def bins(n,target,low,high):
  if low>high:
     return -1
  mid = (low + high) // 2
  if n[mid]==target:
    return mid
  elif n[mid]>target:
    return bins(n,target,low,mid-1)
  else:
    return bins(n,target,mid+1,high)
num=[2,4,6,8,10,12,14,16,18]
bins(num,14,0,len(num)-1)

6

In [ ]:
file=open('file.txt','w')
file.write("hello i am good how r u /n i hope ur doing good")

47

In [ ]:
file=open('file.txt','r')
file.read()
file.close()

In [ ]:
with open('file.txt','r') as f:
  content=f.read()
  print('content:',content)

content: hello i am good how r u /n i hope ur doing good

In [ ]:
with open('file.txt','r') as file:
  content=file.read()
  print('content:',content)

content: hello i am good how r u /n i hope ur doing good

In [ ]:
with open('new.txt','w') as f:
  f.write('new line in text file')

In [ ]:
with open('file.txt','w') as f:
  f.write("hello new file")
  f.write("this is second line")
print('file written success')

file written success

In [ ]:
with open('file.txt','a') as f:
  f.write("we r appending")
with open('file.txt','r') as f:
  a=f.read()
print(a)

hello new file
this is second line
thei is thired linewe r appending

In [ ]:
with open('file.txt','r') as f:
  print(f.readline())

hello new file

In [ ]:
with open('file.txt','r') as f:
  for i in f:
    print(i.strip())

hello new file
this is second line
thei is thired linewe r appending

In [15]:
#T1
A= [1, 2, 3, 2, 2, 5]
def rep(a,t):
  if len( a)==0:
    return 0
  if t == a[-1]:
    return 1+rep(a[:-1],t)
  else:
    return rep(a[:-1],t)
print(rep(A,2))

3

In [17]:
#T2
A= 1238
def s(a):
  if  a==0:
    return 0
  else:
    return (a%10)+s(a//10)
print(s(A))

14

In [18]:
#T3
def sum_nested(lst):
    total = 0
    for item in lst:
        if isinstance(item, list):
            total += sum_nested(item)  # recursive call if it's a list
        else:
            total += item              # add directly if it's a number
    return total

# Example:
nums = [1, [2, [3, 4]], 5]
print("Sum:", sum_nested(nums))

Sum: 15

In [19]:
#T4
def dec_to_bin(n):
    if n == 0:
        return ""
    else:
        return dec_to_bin(n // 2) + str(n % 2)

# Example:
num = 13
binary = dec_to_bin(num)
print("Binary of", num, "is:", binary)

Binary of 13 is: 1101

In [20]:
#T5
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))   # recursive call for sublist
        else:
            result.append(item)
    return result

# Example:
nums = [1, [2, [3, 4]], 5]
print("Flattened list:", flatten(nums))

Flattened list: [1, 2, 3, 4, 5]

In [21]:
#T6
with open('intro.txt','w') as f:
  f.write("""i am jawad and i am in case uni doing, bs ai,
  i love to study film making and dpt one day,
  cuz i feel they r more close to my heart!""")
with open('intro.txt','r') as f:
  print(f.read())

i am jawad and i am in case uni doing, bs ai,
  i love to study film making and dpt one day,
  cuz i feel they r more close to my heart!

In [22]:
#T7
def count(a):
  line=a.readline()
  if not line:
    return 0
  else:
    return 1+count(a)

with open('intro.txt','r') as f:
  total=count(f)
  print(total)

3

In [23]:

with open('intro.txt','r') as f:
  print(f.readline())
  print(f.readline())
  print(f.readline())

i am jawad and i am in case uni doing, bs ai,

  i love to study film making and dpt one day,

  cuz i feel they r more close to my heart!

In [24]:
#T8
def permute(s, answer=""):
    if len(s) == 0:                     # base case
        print(answer)
        return

    for i in range(len(s)):             # pick each character one by one
        ch = s[i]
        left = s[:i] + s[i+1:]          # remaining string after removing ch
        permute(left, answer + ch)      # recursive call


# Example:
permute("abc")

abc
acb
bac
bca
cab
cba

In [27]:
#T9
def line(f):
  short=longg=f.readline()
  for i in f:
     if len(longg)<len(i):
       longg=i
     if len(short)>len(i):
       short=i
  print("short",len(short))
  print("long",len(longg))


with open('intro.txt','r') as f:
  line(f)

short 43
long 47

In [30]:
#T10
def line(f):
  line=wordd=charr=0
  for i in f:
    line+=1
    charr+=len(i)
    wordd+=len(i.split())
  print("line",line)
  print("word",wordd)
  print("char",charr)


with open('intro.txt','r') as f:
  line(f)

line 3
word 32
char 136

In [31]:
#T11
a=""
with open('intro.txt','r') as f:
  a=f.read()
with open('outro.txt','w') as f:
  f.write(a)

In [37]:
#T12
with open('log.txt','w') as f:
  f.write("2024-09-08 12:34:56 ERROR: Network failure\n")
  f.write("2024-09-08 12:34:56 ERROR: Network failure\n")
  f.write("2024-09-08 12:34:56 ERROR: Network failure\n")
  f.write("2024-09-08 12:34:56 ERROR: Network failure\n")
  f.write("2024-09-08 12:34:56 ERROR: Network failure\n")
  f.write("2024-09-08 12:34:56 ERROR: Network failure")
with open('log.txt','r') as f:
  e=er=w=0
  for i in f:
    date,time,error,warning,a=i.split()
    e+=1
    if error=="ERROR:":
      er+=1
      w+=1
with open('sum.txt','w') as f:
  f.write(str(e))
  f.write(str(er))
  f.write(str(w))