
#Jawad Hassan 2230-0035 Assignment 3
##PAI

In [2]:
#TASK1
import numpy as np
start = int(input())
stop = int(input())
size = int(input())
val = np.linspace(start, stop, size)
mat = np.diag(val)
print(mat)

1
10
5
[[ 1.    0.    0.    0.    0.  ]
 [ 0.    3.25  0.    0.    0.  ]
 [ 0.    0.    5.5   0.    0.  ]
 [ 0.    0.    0.    7.75  0.  ]
 [ 0.    0.    0.    0.   10.  ]]

In [3]:
#TASK2
import numpy as np
import random

menu_labels = np.array([
    "Zinger Burger", "Chicken Karahi", "Biryani", "Pizza Slice",
    "Shawarma", "Pasta", "Fried Rice", "Club Sandwich",
    "BBQ Tikka", "French Fries"
])

menu_rates = np.array([450, 1200, 250, 300, 200, 600, 350, 400, 500, 180])

shuffle_index = np.random.permutation(len(menu_labels))
menu_labels = menu_labels[shuffle_index]
menu_rates = menu_rates[shuffle_index]

print("MENU:")
for i in range(len(menu_labels)):
    print(i + 1, menu_labels[i], "Rs.", menu_rates[i])

bill_archive = []

for guest_no in range(1, 3):
    print(f"\nCustomer {guest_no} Ordering:")
    cost_stack = []

    while True:
        pick = int(input("Enter dish number (0 to end): "))
        if pick == 0:
            break
        cost_stack.append(menu_rates[pick - 1])
        print(menu_labels[pick - 1], "added")

    total_due = np.sum(cost_stack)
    bill_archive.append(total_due)
    print("Final Bill:", total_due)

bill_array = np.array(bill_archive)

print("\nBILL SUMMARY")
print("Maximum Bill:", np.max(bill_array))
print("Minimum Bill:", np.min(bill_array))
print("Mean Bill:", np.mean(bill_array))
print("Median Bill:", np.median(bill_array))
print("Total Restaurant Earnings:", np.sum(bill_array))

MENU:
1 BBQ Tikka Rs. 500
2 Fried Rice Rs. 350
3 Pasta Rs. 600
4 Pizza Slice Rs. 300
5 French Fries Rs. 180
6 Chicken Karahi Rs. 1200
7 Shawarma Rs. 200
8 Zinger Burger Rs. 450
9 Biryani Rs. 250
10 Club Sandwich Rs. 400

Customer 1 Ordering:
Enter dish number (0 to end): 3
Pasta added
Enter dish number (0 to end): 5
French Fries added
Enter dish number (0 to end): 1
BBQ Tikka added
Enter dish number (0 to end): 6
Chicken Karahi added
Enter dish number (0 to end): 7
Shawarma added
Enter dish number (0 to end): 8
Zinger Burger added
Enter dish number (0 to end): 9
Biryani added
Enter dish number (0 to end): 2
Fried Rice added
Enter dish number (0 to end): 0
Final Bill: 3730

Customer 2 Ordering:
Enter dish number (0 to end): 1
BBQ Tikka added
Enter dish number (0 to end): 2
Fried Rice added
Enter dish number (0 to end): 4
Pizza Slice added
Enter dish number (0 to end): 5
French Fries added
Enter dish number (0 to end): 6
Chicken Karahi added
Enter dish number (0 to end): 7
Shawarma added
Enter dish number (0 to end): 0
Final Bill: 2730

BILL SUMMARY
Maximum Bill: 3730
Minimum Bill: 2730
Mean Bill: 3230.0
Median Bill: 3230.0
Total Restaurant Earnings: 6460

In [4]:
#TASK3
import numpy as np

alpha_grid_one = np.empty((4, 4), dtype='<U1')
alpha_grid_two = np.empty((4, 4), dtype='<U1')

print("Enter characters for Matrix 1:")
for r in range(4):
    for c in range(4):
        alpha_grid_one[r, c] = input()

print("\nEnter characters for Matrix 2:")
for r in range(4):
    for c in range(4):
        alpha_grid_two[r, c] = input()

num_grid_one = np.vectorize(ord)(alpha_grid_one)
num_grid_two = np.vectorize(ord)(alpha_grid_two)

largest_char_one = chr(np.max(num_grid_one))
largest_char_two = chr(np.max(num_grid_two))

print("\nLargest character in Matrix 1:", largest_char_one)
print("Largest character in Matrix 2:", largest_char_two)

product_numeric = np.matmul(num_grid_one, num_grid_two)
product_alpha = np.vectorize(chr)(product_numeric)

print("\nResultant Character Matrix:")
print(product_alpha)

Enter characters for Matrix 1:
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p

Enter characters for Matrix 2:
q
r
s
t
u
v
w
x
y
z
a
b
c
d
e
f

Largest character in Matrix 1: p
Largest character in Matrix 2: z

Resultant Character Matrix:
[['괒' '꺜' 'ꘘ' 'Ꞣ']
 ['됚' '떴' '곘' '깲']
 ['묢' '볌' '뎘' '땂']
 ['숪' '쏤' '멘' '밒']]

In [5]:
#TASK4
import numpy as np

np.random.seed(7)

core_block = np.random.randint(1, 10, (3, 3))
flux_block = np.random.randint(1, 10, (3, 3))
echo_block = np.random.randint(1, 10, (3, 3))

fusion_block = np.dot(core_block, flux_block)

tower_stack = np.vstack((core_block, flux_block, echo_block, fusion_block))

amplifier = 2.5
scaled_stack = tower_stack * amplifier

row_signature = np.mean(scaled_stack, axis=1)

np.savetxt("stacked_matrix.txt", tower_stack, fmt="%.2f")
np.savetxt("scaled_matrix.txt", scaled_stack, fmt="%.2f")
np.savetxt("row_means.txt", row_signature, fmt="%.2f")

print("Matrices processed and saved successfully.")

Matrices processed and saved successfully.

In [6]:
#TASK5
from abc import ABC, abstractmethod

#  ABSTRACT BASE
class WorkforceBase(ABC):
    @abstractmethod
    def profile_view(self):
        pass


# EMPLOYEE CLASS
class StaffNode(WorkforceBase):
    def __init__(self, emp_key, full_tag, unit_zone, pay_value, mail_tag, skill_pack, geo_pair):
        self.__emp_key = emp_key
        self.full_tag = full_tag
        self.unit_zone = unit_zone
        self.__pay_value = pay_value
        self.mail_tag = mail_tag
        self.skill_pack = skill_pack
        self.geo_pair = geo_pair

    def profile_view(self):
        return {
            "Employee_id": self.__emp_key,
            "Name": self.full_tag,
            "Department": self.unit_zone,
            "Salary": self.__pay_value,
            "Email": self.mail_tag,
            "Skills": self.skill_pack,
            "Address": self.geo_pair
        }

    def revise_compensation(self, new_salary, new_skills):
        self.__pay_value = new_salary
        self.skill_pack = new_skills

    def fetch_salary(self):
        return self.__pay_value

    def fetch_id(self):
        return self.__emp_key


# DATA STORE
registry_hub = {
    101: StaffNode(101, "Ali Khan", "IT", 120000, "ali@corp.com", ["python", "sql"], ("Islamabad", "Karachi")),
    102: StaffNode(102, "Sara Malik", "HR", 90000, "sara@corp.com", ["recruitment"], ("Lahore", "Multan")),
    103: StaffNode(103, "Usman Raza", "Finance", 110000, "usman@corp.com", ["excel", "analysis"], ("Karachi", "Hyderabad")),
    104: StaffNode(104, "Hina Noor", "IT", 130000, "hina@corp.com", ["cloud", "linux"], ("Islamabad", "Peshawar")),
    105: StaffNode(105, "Bilal Ahmed", "Marketing", 85000, "bilal@corp.com", ["seo", "content"], ("Lahore", "Faisalabad"))
}


# FUNCTIONS
def inject_employee():
    try:
        key = int(input("ID: "))
        if key in registry_hub:
            raise ValueError("Employee already exists")

        nm = input("Name: ")
        dept = input("Department: ")
        sal = float(input("Salary: "))
        mail = input("Email: ")
        skills = input("Skills (comma separated): ").split(",")
        city1 = input("City 1: ")
        city2 = input("City 2: ")

        registry_hub[key] = StaffNode(
            key, nm, dept, sal, mail,
            [s.strip() for s in skills],
            (city1, city2)
        )
        print("Employee added successfully")

    except Exception as err:
        print("Error:", err)


def amend_employee(emp_key):
    if emp_key not in registry_hub:
        print("Employee not found")
        return

    new_pay = float(input("New Salary: "))
    new_sk = input("New Skills (comma separated): ").split(",")
    registry_hub[emp_key].revise_compensation(new_pay, [x.strip() for x in new_sk])
    print("Employee updated")


def remove_employee(emp_key):
    if emp_key in registry_hub:
        del registry_hub[emp_key]
        print("Employee deleted")
    else:
        print("Employee not found")


def fetch_department(dept_name):
    found = False
    for staff in registry_hub.values():
        if staff.profile_view()["Department"].lower() == dept_name.lower():
            print(staff.profile_view())
            found = True
    if not found:
        print("No employees in this department")


def summary_overview():
    dept_map = {}
    for staff in registry_hub.values():
        dept = staff.profile_view()["Department"]
        dept_map.setdefault(dept, []).append(staff.fetch_salary())

    print("\n--- SUMMARY REPORT ---")
    print("Total Employees:", len(registry_hub))
    print("Departments:", list(dept_map.keys()))

    for d, salaries in dept_map.items():
        avg = sum(salaries) / len(salaries)
        print(f"Average Salary ({d}): {avg:.2f}")


# CALLS
inject_employee()
amend_employee(101)
remove_employee(103)
fetch_department("IT")
summary_overview()

ID: 2
Name: ali
Department: cs
Salary: 234
Email: jawad@
Skills (comma separated): it,videdit
City 1: isl
City 2: lah
Employee added successfully
New Salary: 445
New Skills (comma separated): skate,box
Employee updated
Employee deleted
{'Employee_id': 101, 'Name': 'Ali Khan', 'Department': 'IT', 'Salary': 445.0, 'Email': 'ali@corp.com', 'Skills': ['skate', 'box'], 'Address': ('Islamabad', 'Karachi')}
{'Employee_id': 104, 'Name': 'Hina Noor', 'Department': 'IT', 'Salary': 130000, 'Email': 'hina@corp.com', 'Skills': ['cloud', 'linux'], 'Address': ('Islamabad', 'Peshawar')}

--- SUMMARY REPORT ---
Total Employees: 5
Departments: ['IT', 'HR', 'Marketing', 'cs']
Average Salary (IT): 65222.50
Average Salary (HR): 90000.00
Average Salary (Marketing): 85000.00
Average Salary (cs): 234.00