# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Ms. Salma
#lab 6

In [ ]:
text='python33'
pattern=r"\d+"
match=re.search(pattern,text)
if match:
  print(match.group())

33

In [ ]:
text='python@333737373a3337'
pattern=r"\w+@\d+\w"
match=re.findall(pattern,text)
if match:
  print(match)

['python@333737373a']

In [ ]:
text='jawad@gmail.com'
pattern=r'\w+@\w+.\w+'
match=re.search(pattern,text)
if match:
  print(match.group())

jawad@gmail.com

In [ ]:
text='jawad@gmail.com ali@gmail.com subhan@gmail.com'
pattern=r'\w+@\w+.\w+'
match=re.findall(pattern,text)
if match:
  print(match)

['jawad@gmail.com', 'ali@gmail.com', 'subhan@gmail.com']

In [ ]:
text='call me 123-456-7890 or 987-654-3210'
pattern=r'\d{3}-\d{3}-\d{4}'
match=re.findall(pattern,text)
if match:
  print(match)

['123-456-7890', '987-654-3210']

In [ ]:
text='Python is Fun and Powerful AA A22 222A'
pattern=r'\b[A-Za-z][a-zA-Z0-9]*\b'
match=re.findall(pattern,text)
if match:
  print(match)

['Python', 'is', 'Fun', 'and', 'Powerful', 'AA', 'A22']

In [ ]:
import re
text='My SSN is 123-45-6789.'
pattern=r'\d{3}-\d{2}-\d{4}'

match=re.search(pattern,text)
if match:
  print(match.group())

123-45-6789

In [ ]:
text = "Python@3777a7770"
pattern=r'\b\w+\b'
match=re.search(pattern,text)
if match:
  print(match.group())
match=re.findall(pattern,text)
if match:
  print(match)

Python
['Python', '3777a7770']

In [ ]:
text = 'Contact us at support@example.com or admin@test.org'
pattern=r'\w+@\w+.\w+'
match=re.findall(pattern,text)
if match:
  print(match)

['support@example.com', 'admin@test.org']

In [ ]:
text = "Call me at 123-456-7890 or 987-654-3210"
p=r'\d{3}-\d{3}-\d{4}'
match=re.search(p,text)
if match:
  print(match.group())
match=re.findall(p,text)
if match:
  print(match)

123-456-7890
['123-456-7890', '987-654-3210']

In [ ]:
text = "Python  A is At Fun and Powerful AA A22 222A"
p=r'\bis\b'
match=re.search(p,text)
if match:
  print(match.group())
p=r'\b[A-Z][a-z]*\b'
match=re.findall(p,text)
if match:
  print(match)

is
['Python', 'A', 'At', 'Fun', 'Powerful']

In [ ]:
text = "Python is At Fun and Powerful AA A22 222A"
pa=r'\b[A-Z0-9][a-zA-Z0-9]+\b'
match=re.findall(pa,text)
if match:
  print(match)

['Python', 'At', 'Fun', 'Powerful', 'AA', 'A22', '222A']

In [ ]:
text = "Python    is   awesome"
p=r'\s+'
clean=re.sub(p,':',text)
print(clean)
text = "Python    is   awesome"
p=r'\s+'
clean=re.sub(p,' ',text)
print(clean)

Python:is:awesome
Python is awesome

In [ ]:
tweet = "Loving #Python #AI #11AI and #MachineLearning #Machine_Learning"
p=r"#\w+"
m=re.findall(p,tweet)
print(m)

['#Python', '#AI', '#11AI', '#MachineLearning', '#Machine_Learning']

In [ ]:
text = "apple,banana;orange|grape"
p=r"[,;\|]"
m=re.split(p,text)
print(m)

['apple', 'banana', 'orange', 'grape']

In [ ]:
import re
password = "mypass@123"
pas = "1$Mypass"
p=r"^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*?><,.|\"]).{8,}$"
if re.match(p,password):
  print("strong pass")
else:
  print("weak pass")
if re.match(p,pas):
  print("strong pass")
else:
  print("weak pass")

weak pass
strong pass

In [ ]:
try:
  r=a
except NameError:
  print('name error')

name error

In [ ]:
try:
  r=10/0
except ZeroDivisionError:
  print("zero error")

zero error

In [ ]:
try:
  a=int('abc')
except ValueError:
  print('val error')

val error

In [ ]:
try:
  a=int(input('enter a number:'))
  print("n:",100/a)
except ZeroDivisionError:
    print('zero error')
except ValueError:
    print('error')

enter a number:3
n: 33.333333333333336

In [ ]:
try:
  a=int(input('enter a number:'))
except ZeroDivisionError:
    print('zero error')
except ValueError:
    print('error')
else:
  print("n:",100/a)

enter a number:22
n: 4.545454545454546

In [ ]:
try:
  a=2/0
  b=int('abc')
except (ValueError,ZeroDivisionError) as e:
  print('error',e)

error division by zero

In [ ]:
try:
 a= int(input('enter error:'))
 if a<0:
  raise ValueError('less than zero')
except ValueError as e:
  print('error',e)

enter error:-4
error less than zero

In [ ]:
try:
  dic={'name':'ali','age':21}
  print(dic['grade'])
except KeyError:
  print('key dont exist')

key dont exist

In [ ]:
class student:
  def deisplay(self):
    print('this is student class example')
s=student()
s.deisplay()

this is student class example

In [ ]:
class cat:
  def __init__(self,name,color):
    self.name=name
    self.color=color
  def meow(self):
    print(self.name,self.color,'meow')
c=cat('tommy','red')
c.meow()

tommy red meow

In [ ]:
class student:
  def __init__(self,name,roll,marks):
    self.name=name
    self.roll=roll
    self.marks=marks
  def display(self):
    print(self.name,self.roll,self.marks)
s=student('jawad',223,100)
s2=student('ahmar',2221,100)
s.display()
s2.display()

jawad 223 100
ahmar 2221 100

In [ ]:
class cart:
  def __init__(self,owner):
    self.owner=owner
    self.items=[]
  def add(self,items):
    self.items.append(items)
  def show(self):
    print(','.join(self.items))
cc=cart('jawa')
cc.add('icecream')
cc.add('lays')
cc.show()

icecream,lays

In [ ]:
class bank:
  def __init__(self,name,amount,typee):
    self.name=name
    self.bal=float(amount)
    self.typee=typee
  def deposit(self,am):
    self.bal+=am
    print(self.bal)

  def withdraw(self,w):
   if w<=self.bal:
    self.bal-=w
    print(self.bal)
   else:
    print('insufficeint bal')

a1=bank('jay',234.5,'default')
a1.deposit(5.5)
a1.withdraw(100)

240.0
140.0

In [ ]:
class emp:
  def __init__(self,name,sal):
    self.name=name
    self.sal=sal
  def show(self):
    print(self.name,self.sal)
  def __del__(self):
    print(self.name,'deleted')

e=emp('jawad',234)
e.show()
del e

jawad 234
jawad deleted

In [ ]:
class library:
  def __init__(self,name,books=None):
    self.librarian=name
    self.books=books if books else []
  def add(self,title):
    self.books.append(title)
  def display(self):
    print(self.librarian)
    for i in self.books:
      print(i)
  def __del__(self):
    print(self.librarian,"cloed library")
l=library('jawad',['ai','phy','math'])
l.add('chem')
l.display()
del l

jawad
ai
phy
math
chem
jawad cloed library

In [ ]:
#t1
class book:
  def __init__(self,title,author,pages):
    self.title=title
    self.author=author
    self.pages=pages
  def __len__(self):
    return self.pages
  def __str__(self):
    return self.title
b=book('runner','jay',21)
print(b.__len__())
print(b.__str__())

21
runner

In [ ]:
#t2
class pet:
  def __init__(self):
    self.__name=""
    self.__type=""
    self.__age=0
  def set_name(self,n):
     self.__name=n
  def set_animal_type(self,t):
      self.__type=t
  def set_age(self,a):
      self.__age=a
  def get_name(self):
      return self.__name
  def get_animal_type(self):
      return self.__type
  def get_age(self):
      return self.__age


p=pet()
p.set_name('tom')
p.set_animal_type('dog')
p.set_age(20)
print(p.get_name())
print(p.get_animal_type())
print(p.get_age())

tom
dog
20

In [3]:
#t3
class emp:
  def __init__(self,n,i,d,j):
    self.name=n
    self.id=i
    self.dep=d
    self.job=j
  def display(self):
    print(self.name,self.id,self.dep,self.job)
e1=emp('susan mayers',47899,'acc','vp')
e2=emp('mark jones',39119,'it','programmer')
e3=emp('joy rogers',81774,'mnufacturing','engineer')
e1.display()
e2.display()
e3.display()

susan mayers 47899 acc vp
mark jones 39119 it programmer
joy rogers 81774 mnufacturing engineer

In [12]:
#t4
class patient:
  def __init__(self):
    self.first=""
    self.middle=""
    self.last=""
    self.address=""
    self.city=""
    self.state=""
    self.zip=0
    self.phone=000
    self.emern=""
    self.emerp=000
  def mutator(self,f,m,l,a,c,s,z,p,emn,emp):
    self.first=f
    self.middle=m
    self.last=l
    self.address=a
    self.city=c
    self.state=s
    self.zip=z
    self.phone=p
    self.emern=emn
    self.emerp=emp
  def accessor(self):
      print(self.first,
    self.middle,
    self.last,
    self.address,
    self.city,
    self.state,
    self.zip,
    self.phone,
    self.emern,
    self.emerp)

class procedure:
  def __init__(self):
    self.name=""
    self.date=""
    self.practictioner=""
    self.charges=0

  def mutator(self,n,d,p,c):
    self.name=n
    self.date=d
    self.practictioner=p
    self.charges=c
  def accessor(self):
      print( self.name,
    self.date,
    self.practictioner,
    self.charges)
def main():
  p=patient()
  p.mutator("jay",'amed','khan','f15','isl','pak',3412,331,'ali',3356)
  p.accessor()
  p1=procedure()
  p1.mutator('physical ex','11/17/25','dr irvine',250.0)
  p2=procedure()
  p2.mutator('xray','11/17/25','dr jamison',500.0)
  p3=procedure()
  p3.mutator('blood cp','11/17/25','dr smith',200.0)
  p1.accessor()
  p2.accessor()
  p3.accessor()
  print(p1.charges+p2.charges+p3.charges)

main()

jay amed khan f15 isl pak 3412 331 ali 3356
physical ex 11/17/25 dr irvine 250.0
xray 11/17/25 dr jamison 500.0
blood cp 11/17/25 dr smith 200.0
950.0

In [14]:
#t5
with open('number.txt','w') as f:
  f.write('30\n40\n50\n60')
try:
  f=open('number.txt','r')
  sum=0
  for i in f:
    try:
      sum+=int(i.strip())
    except ValueError:
      print('not int')
  print(sum)
except IOError:
   print('file error')
finally:
  f.close()

180

In [29]:
#t6
import re
text = """
User: John Doe
Email: john.doe@gmail.com
Backup Email: johnd123@company.org
IP: 192.168.0.1
Invalid IP: 999.888.77.666
Date Joined: 12-05-2023
Website: https://www.example.com/profile
Contact: +92-300-1234567 or (051) 6543210
"""
pemial=r'\w+.\w+@\w+.\w+'
emails=re.findall(pemial,text)
pip=r'\d{3}\.\d{3}\.\d{1}\.\d{1}'
ips=re.findall(pip,text)
pd=r'\d{2}-\d{2}-\d{4}'
date=re.findall(pd,text)
pp=r'(\+\d{2}-\d{3}-\d+|\(\d{3}\)\s*\d{7})'
phone=re.findall(pp,text)
pu=r'\w+\:\//\w+\.\w+\.\w+\/\w+'
urls=re.findall(pu,text)
dic={
    "emails": emails,
    "ips": ips,
    "dates": date,
    "phones": phone,
    "urls": urls

}
print(dic)

{'emails': ['john.doe@gmail.com', 'johnd123@company.org'], 'ips': ['192.168.0.1'], 'dates': ['12-05-2023'], 'phones': ['+92-300-1234567', '(051) 6543210'], 'urls': ['https://www.example.com/profile']}