# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Miss Salma
#Lab 2

In [13]:
#task1 Library Catalog System
libsys={
    'ali':[('fault in sky',2001,'available'),('roofman',2002,'available')],
    'ahmed':[('running man',2004,'available')]
}
def add_book():
  auth=input('author:')
  tit=input('title')
  pub=int(input('publication year:'))
  avail=input('availability status:')
  libsys.update({auth:[(tit,pub,avail)]})
def bookstat():
  listlib=list(libsys['ali'][0])
  listlib [2]='borrowed'
  libsys['ali'][0]=tuple(listlib)
def display():
    print(libsys['ali'])
def find():
  print('newset:',libsys['ahmed'])
  print('oldest:',libsys['ali'][0])
def available():
  for i in libsys:
    if libsys[i][0][2]=='available':
      print(libsys[i])
add_book()
bookstat()
display()
find()
available()

author:mady
titleglass man
publication year:2003
availability status:available
[('fault in sky', 2001, 'borrowed'), ('roofman', 2002, 'available')]
newset: [('running man', 2004, 'available')]
oldest: ('fault in sky', 2001, 'borrowed')
[('running man', 2004, 'available')]
[('glass man', 2003, 'available')]

In [15]:
#task2 Applying Celsius to Fahrenheit
tempcelcius=[22,34.2,33.2,55.4,77.2,88.4,99.2,26.4]
faranheit=[]
faran= lambda c: (9/5)*c+32
for i in tempcelcius:
  faranheit.append(faran(i))
print(faranheit)

[71.6, 93.56, 91.76, 131.72, 170.96, 191.12, 210.56, 79.52]

In [56]:
#task3
Text =" Hello  python  world  "
print(' '.join(reversed(Text.split())))
print(' '.join(Text.split()[::-1]))

world python Hello
world python Hello

In [66]:
#task4
text = "This is the first sentence. Here is another. And finally, the last one. "
print('.'.join(reversed(text.split("."))))

 . And finally, the last one. Here is another.This is the first sentence

In [71]:
#task5
square=[
    [1,2,3],
    [4,5,6],
    [8,8,9]
]
sum1=square[0][0]+square[1][1]+square[2][2]
sum2=square[0][2]+square[1][1]+square[2][0]
print(sum1)
print(sum2)
print(abs(sum1-sum2))

15
16
1

In [85]:
#task6
students=[]
for i in range(10):
  firstName, lastName, age, degreeProgram=input('enter first name, last name,age,degree program').split()
  student={'firstName':firstName, 'lastName':lastName, 'age':age, 'degreeProgram':degreeProgram}
  students.append(student)
print(students[::-1])

enter first name, last name,age,degree programjawad hassan 21 ai
enter first name, last name,age,degree programali ahmed 22 cs
enter first name, last name,age,degree programshafiq ali 33 ai
enter first name, last name,age,degree programusman ali 22 cys
enter first name, last name,age,degree programsara neelum 23 ai
enter first name, last name,age,degree programumna sana 21 ai
enter first name, last name,age,degree programsara amna 23 cs
enter first name, last name,age,degree programamna malik 44 se
enter first name, last name,age,degree programminahil javed 20 ai
enter first name, last name,age,degree programshan ali 22 se
[{'firstName': 'shan', 'lastName': 'ali', 'age': '22', 'degreeProgram': 'se'}, {'firstName': 'minahil', 'lastName': 'javed', 'age': '20', 'degreeProgram': 'ai'}, {'firstName': 'amna', 'lastName': 'malik', 'age': '44', 'degreeProgram': 'se'}, {'firstName': 'sara', 'lastName': 'amna', 'age': '23', 'degreeProgram': 'cs'}, {'firstName': 'umna', 'lastName': 'sana', 'age': '21', 'degreeProgram': 'ai'}, {'firstName': 'sara', 'lastName': 'neelum', 'age': '23', 'degreeProgram': 'ai'}, {'firstName': 'usman', 'lastName': 'ali', 'age': '22', 'degreeProgram': 'cys'}, {'firstName': 'shafiq', 'lastName': 'ali', 'age': '33', 'degreeProgram': 'ai'}, {'firstName': 'ali', 'lastName': 'ahmed', 'age': '22', 'degreeProgram': 'cs'}, {'firstName': 'jawad', 'lastName': 'hassan', 'age': '21', 'degreeProgram': 'ai'}]

In [104]:
#task7
l1=[1,2,3,2,1]
l2=[1, "abc", "abc", 1]
l1copy=l1.copy()
l2copy=l2.copy()
if (l1[:] == l1copy[::-1]):
  print('l1 palindrome')
else:
  print('l1 not palindrome')
if l2[:]==l2copy[::-1]:
  print('l2 palindrome')
else:
  print('l2 not palindrome')

l1 palindrome
l2 palindrome

In [82]:
#task8
marks={

}
sub1=input('enter sub1:')
marks1=int(input('sub1 marks:'))
sub2=input('enter sub2:')
marks2=int(input('sub2 marks:'))
sub3=input('enter sub3:')
marks3=int(input('sub3 marks:'))
marks.update({sub1:marks1})
marks.update({sub2:marks2})
marks.update({sub3:marks3})
print(marks)

enter sub1:maths
sub1 marks:99
enter sub2:science
sub2 marks:88
enter sub3:urdu
sub3 marks:77
{'maths': 99, 'science': 88, 'urdu': 77}

In [81]:
#task9
employees = {
   101: ("Alice", "AI Engineer", ["Python", "ML", "DL"]),
   102: ("Bob", "Data Scientist", ["R", "Python", "SQL"]),
   103: ("Charlie", "Web Developer", ["HTML", "CSS", "JS"])
}
employees.update({104 : ("David", "Cloud Engineer", ["AWS", "Docker", "Python"])})
emp=list(employees[103])
emp[1]="Full-Stack Developer"
employees[103]=tuple(emp)
print (employees)

{101: ('Alice', 'AI Engineer', ['Python', 'ML', 'DL']), 102: ('Bob', 'Data Scientist', ['R', 'Python', 'SQL']), 103: ('Charlie', 'Full-Stack Developer', ['HTML', 'CSS', 'JS']), 104: ('David', 'Cloud Engineer', ['AWS', 'Docker', 'Python'])}

In [76]:
#task10
data = (10, 20, 30, 40, 50, 60, 70, 80)
data2=data[:3]+data[5:8]
print (data2)
print (data[::-1])
t3=data[::2]
print(t3)
t4=data[1::2]
print(t4)
data=data[4:]+data[0:4]
print(data)

(10, 20, 30, 60, 70, 80)
(80, 70, 60, 50, 40, 30, 20, 10)
(10, 30, 50, 70)
(20, 40, 60, 80)
(50, 60, 70, 80, 10, 20, 30, 40)