In [ ]:
result= 10+3 * 2 ** 2 // 4 -6 %4
print (result)

11

In [ ]:
text='python'
print(text[1:4][1])

t

In [ ]:
name=input("enter name:")
print('name:',name)

enter name:ali
name: ali

In [ ]:
num1=input('enter num 1:')
num2=input('enter num 2:')
sum=int(num1)+int(num2)
print(sum)

enter num 1:13
enter num 2:1
14

In [ ]:
price=float(input('price:'))
quant=int(input('quant:'))
total=price*quant
print('total:',total)

price:3.5
quant:2
total: 7.0

In [ ]:
a,b,c=input('enter three elements:').split()
print(a,b,c)

enter three elements:22 34.2 1
22 34.2 1

In [ ]:
num1='50'
num1=int(num1)
print(num1,type(num1))

mun2='33.2'
mun2=float(mun2)
print(mun2,type(mun2))

numfloat=33.2
numfloat=int(numfloat)
print(numfloat,type(numfloat))

age=20
age=str(age)
print(age,type(age))

50 <class 'int'>
33.2 <class 'float'>
33 <class 'int'>
20 <class 'str'>

In [ ]:
#upcast
a=10
a=float(a)
print(a,type(a))
#downcast
fa=30.99
fa=int(fa)
print(fa,type(fa))

10.0 <class 'float'>
30 <class 'int'>

In [ ]:
ans=5+3*2**2//4%3
print(ans)

5

In [1]:
dictiona={
    'a':1,
    'b':2,
    'c':3,
    'd':4
}
for ii in range(len(dictiona)):
  print(ii)

0
1
2
3

In [2]:
s1='helo'
s22= "helo"
s3='''boy
helo'''
s4="""heyy
world"""
print(s1,s22,s3,s4)

helo helo boy
helo heyy
world

In [1]:
s1="it's raining"
s2='she said "hello"'
s3='''this is
a multiline string
'''
s4= '''it's "platonic"'''
print(s1,s2,s3,s4)

it's raining she said "hello" this is
a multiline string
 it's "platonic"

In [19]:
a="python"
b="rocks"
print(" ".join(a+b))
print(a,b,sep=" ")
print(a+" "+b)
c=a*3
print(c)
print('oython' in a)
print('python' in a)
print('jave' not in a)

p y t h o n r o c k s
python rocks
python rocks
pythonpythonpython
False
True
True

In [26]:
text="PYTHON"
print("First char:",text[0])
print("last char:",text[-1])
print("last char:",text[5])
print("slice[1:4] char:",text[1:4])
#negative indexing
print("Slice [-4:-1]:",text[-4:-1])
print("Step 2:", text[::2])
print("Reverse:",  text[::-1])
print("Every 2nd char from end:", text[::-2])

First char: P
last char: N
last char: N
slice[1:4] char: YTH
Slice [-4:-1]: THO
Step 2: PTO
Reverse: NOHTYP
Every 2nd char from end: NHY

In [52]:
s = "2  -    --2---  python Programming --- 2 --  -  2"
print(s.lower())
print(s.upper())
print(s.capitalize())
print(s.title())

print(s.strip())
print(s.rstrip())
print(s.lstrip())
print(s.strip("2"))

2  -    --2---  python programming --- 2 --  -  2
2  -    --2---  PYTHON PROGRAMMING --- 2 --  -  2
2  -    --2---  python programming --- 2 --  -  2
2  -    --2---  Python Programming --- 2 --  -  2
2  -    --2---  python Programming --- 2 --  -  2
2  -    --2---  python Programming --- 2 --  -  2
2  -    --2---  python Programming --- 2 --  -  2
  -    --2---  python Programming --- 2 --  -

In [173]:
s = "abcpython Programming"
print(s.find('thon'))
print(s.rfind("m"))
print(s.startswith(" "))
print(s.strip().startswith('p'))
print(s.split("m"))
print(s.replace("python","java"))
print(s.split())
print("-".join(["22","3","2025"]))

5
17
False
False
['abcpython Progra', '', 'ing']
abcjava Programming
['abcpython', 'Programming']
22-3-2025

In [100]:
print("abc".isalpha())
print("123".isdigit())
print("abwe23c".isalnum())
print("abc".islower())
print("ADD".isupper())
print("      ".isspace())
print(len(s))
print(s[2])
#s[2]='w'
j='dog'
#s[2]=j[0]
well=j +s[2]
print(well)
well="j"+j[1:]
print(well)
print(id(well))
well=well+" world"
print(id(well))

True
True
True
True
True
True
20
p
dogp
jog
134185173203872
134185172317936

In [103]:
listy=[1,3,4,well,'well']
print(listy)
print(listy[1])
print(listy[1:4])

[1, 3, 4, 'jog world', 'well']
3
[3, 4, 'jog world']

In [121]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)
print(b*2)
print(2 in a)
print(7 not in a)

nums=[10,20,30,40,50,60]
print(nums[0])
print(nums[2:5])
print(nums[:3])
print(nums[3:])
print(nums[-1])
print(nums[-3:-1])

print(nums[::2])
print(nums[1:5:2])
print(nums[::-1])
print(nums[-1:-6:-2])

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 4, 5, 6]
True
True
10
[30, 40, 50]
[10, 20, 30]
[40, 50, 60]
60
[40, 50]
[10, 30, 50]
[20, 40]
[60, 50, 40, 30, 20, 10]
[60, 40, 20]

In [163]:
str="abcde"
print(str[-1])
print(str[-2])
liste=[1,2,3,3,3,3,3,4,5]
print(liste[-1])
print(liste[-2])
lis2=liste.copy()
lis2[2]=99
liste.append(22)
liste.extend([1,2,3])
print(liste.count(3))
liste.insert(1,2)
print(liste.index(3))
print(liste)
print(liste.pop())
liste.remove(22)
liste.clear()
liste=[1,2,3,4,5]
print(liste)
liste.reverse()
liste.append(22)
liste.append(0)
liste.append(2)
liste.sort()
print(liste)
liste.sort(reverse=True)
print(liste)
liste=['a','bnanannananaanan','sshs']
liste.sort(key=len)
print(liste)
liste=[1,2,3,3,3,3,3,4,0,5]
print(min(liste))
print(max(liste))

e
d
5
4
6
3
[1, 2, 2, 3, 3, 3, 3, 3, 4, 5, 22, 1, 2, 3]
3
[1, 2, 3, 4, 5]
[0, 1, 2, 2, 3, 4, 5, 22]
[22, 5, 4, 3, 2, 2, 1, 0]
['a', 'sshs', 'bnanannananaanan']
0
5

In [171]:
fruits = ["apple", "dates", "cherry"]
fruits.append('kiwi')
print(fruits)
fruits.insert(1,'orange')
print(fruits)
fruits.extend(['fruits','seb'])
print(fruits)
fruits.remove('fruits')
print(fruits)
last=fruits.pop()
print(last)
del fruits[1]
print(fruits)
fruits.clear()
print(fruits)

['apple', 'dates', 'cherry', 'kiwi']
['apple', 'orange', 'dates', 'cherry', 'kiwi']
['apple', 'orange', 'dates', 'cherry', 'kiwi', 'fruits', 'seb']
['apple', 'orange', 'dates', 'cherry', 'kiwi', 'seb']
seb
['apple', 'dates', 'cherry', 'kiwi']
[]

In [203]:
nums = [10, 20, 20,30, 40, 10]
print(nums.index(20))
print(nums.count(20))
nums.sort()
print(nums)
nums.sort(reverse=True)
print(nums)
mumn2=nums.copy()
print(mumn2)
print(range(len(nums)))
nums=tuple(range(len(nums)))
print(nums)
print(len(nums))
print(min(nums))
print(max(nums))
print(sum(nums))

1
2
[10, 10, 20, 20, 30, 40]
[40, 30, 20, 20, 10, 10]
[40, 30, 20, 20, 10, 10]
range(0, 6)
(0, 1, 2, 3, 4, 5)
6
0
5
15

In [218]:
d2=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(d2)
for row in d2:
 print(row)
print(d2[0][0])
print(d2[1][2])
print(d2[2][1])
d2[0][1]=99
print(d2)

d3=[
    [[1,2,3],[4,5,6]],
    [[7,8,9],[10,11,12]]
]
print(d3)
for r in d3:
  print(r)
print(d3[1][1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
6
8
[[1, 99, 3], [4, 5, 6], [7, 8, 9]]
[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]
[[1, 2, 3], [4, 5, 6]]
[[7, 8, 9], [10, 11, 12]]
11

In [232]:
tu=tuple(range(1,6))
print(tu)
tu1=('ali','zain','aslam')
print(tu)
tu2=()
print(tu)
tu3=(3,)
print(tu)
tu4=(2,3,4)
print(tu,tu1,tu2,tu3,tu4)
tu=tu+tu1
print(tu)
tu=tu*2
print(tu)
print(3 in tu)
print(100 not in tu)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5) ('ali', 'zain', 'aslam') () (3,) (2, 3, 4)
(1, 2, 3, 4, 5, 'ali', 'zain', 'aslam')
(1, 2, 3, 4, 5, 'ali', 'zain', 'aslam', 1, 2, 3, 4, 5, 'ali', 'zain', 'aslam')
True
True

In [243]:
t = (10, 20, 30, 40, 50, 60)
print(t[0:3])
print(t[2:5])
print(t[-3:])
print(t[:-2])
print(t[0::2])
print(t[1::2])
print(t[::-1])
print(t[-2:-6:-2])

(10, 20, 30)
(30, 40, 50)
(40, 50, 60)
(10, 20, 30, 40)
(10, 30, 50)
(20, 40, 60)
(60, 50, 40, 30, 20, 10)
(50, 30)

In [254]:
t = (4, 2, 8, 2, 5, 2)
print(len(t))
print(t.count(2))
print(t.index(2))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))
print(t)

6
3
1
2
8
23
[2, 2, 2, 4, 5, 8]
(4, 2, 8, 2, 5, 2)

In [261]:
nested=((1,2),(3,4),(5,6))
print(nested)
print(nested[1])
print(nested[1][0])
#nested[0][0]=99
t=([0,1],2,3)
print(t)
t[0][0]=99
print(t)

((1, 2), (3, 4), (5, 6))
(3, 4)
3
([0, 1], 2, 3)
([99, 1], 2, 3)

In [269]:
dic={
    "name":"ali",
    "age":13,
    "grade":'a'
}
print(dic)
print(dic['name'])
dic2={
    'section':'ai',
    "gpa":3.445
}
dic.update(dic2)
print(dic)
dd={"realtion":'brother','sports':'football'} | {"name":'zain','age':13}
print(dd)
print('sports' in dd)
print('football' not in dd)

{'name': 'ali', 'age': 13, 'grade': 'a'}
ali
{'name': 'ali', 'age': 13, 'grade': 'a', 'section': 'ai', 'gpa': 3.445}
{'realtion': 'brother', 'sports': 'football', 'name': 'zain', 'age': 13}
True
True

In [288]:
d = {"a": 10, "b": 20, "c": 30}
print(len(d))
print(d['a'])
print(d.get('a'))
print(d.get('aa','not found'))
d.update({'l':33})
d['strong']=50
d['a']=40
print(d)
del d['a']
print(d)
d.pop('l')
print(d)
print(d.popitem())
print(d.keys())
print(d.values())
print(d.items())
d.clear()
print(d)

3
10
10
not found
{'a': 40, 'b': 20, 'c': 30, 'l': 33, 'strong': 50}
{'b': 20, 'c': 30, 'l': 33, 'strong': 50}
{'b': 20, 'c': 30, 'strong': 50}
('strong', 50)
dict_keys(['b', 'c'])
dict_values([20, 30])
dict_items([('b', 20), ('c', 30)])
{}

In [299]:
dnest={
    'p1':{
        'name':{'n1':'ali','n2':'subhan','n3':'hamza'},
        'age':13
    },
    'p2':{
        'name':'zain',
        'height':8.1
    }
}
print(dnest)
print(dnest.keys())
print(dnest.values())
print(dnest.items())
print(dnest['p1']['name']['n3'])
print(dnest.popitem())

{'p1': {'name': {'n1': 'ali', 'n2': 'subhan', 'n3': 'hamza'}, 'age': 13}, 'p2': {'name': 'zain', 'height': 8.1}}
dict_keys(['p1', 'p2'])
dict_values([{'name': {'n1': 'ali', 'n2': 'subhan', 'n3': 'hamza'}, 'age': 13}, {'name': 'zain', 'height': 8.1}])
dict_items([('p1', {'name': {'n1': 'ali', 'n2': 'subhan', 'n3': 'hamza'}, 'age': 13}), ('p2', {'name': 'zain', 'height': 8.1})])
hamza
('p2', {'name': 'zain', 'height': 8.1})